
body,html{
	height:auto;
	font-size:0px;
	overflow:auto;
}

div.div-container-main{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	height:100%;
	font-size:35px;
	
}
h1.h1-title{
	font-size:60px;
}
table{
	border: black 1px double;
	text-align:center;
}
table tbody tr{
	border: black 1px solid;
	
}
table tbody td{
	border: black 1px solid;

}
table thead th{
	border: black 1px solid;
	background-color:rgba(25,38,100,0.7);
}
strong.strong-button{
	color:black;
	font-size:30px;
	cursor:pointer;
	
}
strong.strong-warn{
	color:red;
}
strong.strong-button:hover{
	color:red;
}
img.img-home{
	position:relative;
	width:300px;
	height:300px;
	border:2px solid black;
}
div.div-explain{
	display:flex;
	flex-direction:column;
	width:300px;	
	margin:10px;
}
div.div-explain strong{
	color: red;
	font-size:25px;
	text-align:center;
}
div.div-explain p {
	font-size:15px;
	text-align:center;
}
div.div-flex-row{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:space-between;
	align-content:space-between;
	font-size:20px;
}
div.div-flex-row strong{
	margin:5px;
}
form.form-signin{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	align-content:center;
	width:700px;
	border:2px solid black;
}
form h2{
	border-bottom:2px solid black;
}
button.btn-lg{
	width:300px;
	height:100px;
	font-size:30px;
	background-color:skyblue;
	box-shadow:0px 15px black;
}
form input{
	height:35px;
	font-size:30px;
}

